<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Object Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg p-3" style="background-color:gray;">
      <div class="container-fluid">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/Create">Create</a></li>
          </ul>
      </div>
    </nav>
    <div class="mx-5 p-5">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <h1 style="color: gray;">Student Make-Up Sign Up</h1>
          <h6 style="color: gray;">Please the following information</h6>
          <form action="/makeup" method="post">
            <fieldset>
              <div class="container mb-3">
                <div class="input-group mb-3">
                  <span class="input-group-text">Student Name:</span>
                  <input class="form-control" id="name" name="name" type="text" required />
                </div>
                <div class="input-group mb-3">
                  <span class ="input-group-text">What Subject are retaking:</span>
                  <input class="form-control" id="sub" name="sub" type="text" required />


                  <select class="form-select" aria-label="Default select example">
                    <option selected value="block1">Block 1</option>
                    <option value="block2">Block 2</option>
                    <option value="block3">Block 3</option>
                    <option value="block4">Block 4</option>
                    <option value="block5">Block 5</option>
                    <option value="block6">Block 6</option>
                    <option value="block7">Block 7</option>
                    <option value="block8">Block 8</option>
                  </select>

                  <span class="input-group-text">Assessment name:</span>
                  <input class="form-control" id="ass" name="ass" type="text" required/>

                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Select Quiz or Test:</button>
                    <div id="qot" class="dropdown-content">
                      <a href="#">Quiz</a>
                      <a href="#">Test</a>
                    </div>
                  </div>


                  <span class="input-group-text">Select the Date to makeup:</span>
                  <input class="form-control" id="day" name="day" type="date" required />

                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">What Period will you be making up the Quiz or Test?:</button>
                    <div id="per" class="dropdown-content">
                      <a href="#">1</a>
                      <a href="#">2</a>
                      <a href="#">3</a>
                      <a href="#">4</a>
                      <a href="#">5</a>
                      <a href="#">6</a>
                      <a href="#">7</a>
                      <a href="#">8</a>
                    </div>
                  </div>
    
                </div>
              </div>
            </fieldset>
            <input type="submit" id="submit" value="Submit" />
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
    </div>
    <script type="text/javascript" src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>